<table class="table table-responsive" id="tablaCotizacion">
  <thead>
    <tr class="bg-primary">
      <th>Tipo Proyecto</th>
      <th>Presupuesto</th>
      <th>Ancho</th>
      <th>Largo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @quotation.name %></td>
      <td><%= @quotation.budget %></td>
      <td><%= @quotation.width %></td>
      <td><%= @quotation.length %></td>
    </tr>
  </tbody>
</table>
